@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.theme-button-box {
  width: 50%;
  text-align: right;
  display: flex;
}
.theme-button-box .text {
  width: 80%;
  margin: auto;
  color: #aeb3cb;
  font-weight: 700;
}
.theme-button-box .toggle {
  width: 20%;
  position: relative;
  display: inline-block;
  width: 4.5em;
  height: 1.95em;
  margin: 1.5rem 0;
}
.theme-button-box .toggle input {
  display: none;
}
.theme-button-box .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #aeb3cb;
  border-radius: 34px;
}
.theme-button-box .toggle .slider::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  left: 2.7rem;
  bottom: 0.21rem;
  background: white;
  border-radius: 50%;
  transition: 0.4s;
}
.theme-button-box .toggle input:checked + .slider {
  background: linear-gradient(to right, #378fe6, #3eda82);
}
.theme-button-box .toggle input:checked + .slider::before {
  transform: translate(-34px);
}

.large-box-contaianer {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.large-box-contaianer .box {
  align-self: stretch;
  background: #f0f2fa;
  border-radius: 10px;
}
.large-box-contaianer .box:hover {
  background: #e1e3f0;
  transition: background 0.7s;
}
.large-box-contaianer .large {
  height: 15em;
}
.large-box-contaianer .color-bar {
  min-height: 4px;
  border-radius: 10px 10px 0 0;
}
.large-box-contaianer .color-bar#facebook {
  background: #198ff5;
}
.large-box-contaianer .color-bar#twitter {
  background: #1ca0f2;
}
.large-box-contaianer .color-bar#instagram {
  background: linear-gradient(to right, #fdc468, #df4996);
}
.large-box-contaianer .color-bar#youtube {
  background: #c4032a;
}
.large-box-contaianer .content-box {
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.large-box-contaianer .content-box .social-logo {
  color: #63687e;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}
.large-box-contaianer .content-box .social-logo .social-name {
  font-size: 0.89rem;
  margin-left: 0.3rem;
}
.large-box-contaianer .content-box .social-logo img, .large-box-contaianer .content-box .social-logo .social-name {
  vertical-align: middle;
}
.large-box-contaianer .content-box .followers .number {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
.large-box-contaianer .content-box .followers .text-followers {
  font-weight: 400;
  color: #63687e;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  margin: 0;
}
.large-box-contaianer .content-box .today-follow {
  margin-top: 1.3rem;
}
.large-box-contaianer .content-box .today-follow img, .large-box-contaianer .content-box .today-follow .amount-today {
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: 700;
}
.large-box-contaianer .content-box .today-follow .green {
  color: #1db489;
}
.large-box-contaianer .content-box .today-follow .red {
  color: #dc414c;
}

.second-header .text {
  font-size: 1.7rem;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #63687e;
  font-weight: 700;
  margin-top: 2.8rem;
}

.small-box-container {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 1.8rem;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 9rem 9rem;
}
.small-box-container .box {
  align-self: stretch;
  background: #f0f2fa;
  border-radius: 10px;
}
.small-box-container .box:hover {
  background: #e1e3f0;
  transition: background 0.7s;
}
.small-box-container .small {
  display: flex;
}
.small-box-container .small .left-half, .small-box-container .small .right-half {
  width: 50%;
  margin: auto;
}
.small-box-container .small .left-half {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 2rem;
}
.small-box-container .small .left-half .page-views {
  color: #63687e;
  margin-bottom: 1.4rem;
  margin-top: 0;
}
.small-box-container .small .left-half .number {
  font-size: 2.3em;
  margin: 0;
}
.small-box-container .small .right-half {
  margin-right: 2rem;
  text-align: right;
}
.small-box-container .small .right-half .icon {
  margin-bottom: 2.2rem;
}
.small-box-container .small .right-half .today-follow {
  padding: 0;
  margin-bottom: 0.5rem;
}
.small-box-container .small .right-half .today-follow img, .small-box-container .small .right-half .today-follow .amount-today {
  vertical-align: middle;
  font-size: 0.9rem;
  font-weight: 700;
}
.small-box-container .small .right-half .today-follow .green {
  color: #1db489;
}
.small-box-container .small .right-half .today-follow .red {
  color: #dc414c;
}

.dark-theme {
  background: linear-gradient(0deg, #1e202a 68%, #20222F 32%);
}
.dark-theme .main-text {
  color: white;
}
.dark-theme .text {
  color: #8b97c6;
}
.dark-theme .up-box .text-box .sub-text {
  color: #8b97c6;
}
.dark-theme .up-box .text-box .separate-line {
  border: 1px solid #333a56;
}
.dark-theme .theme-button-box .toggle .slider::before {
  background: #20222F;
}
.dark-theme .box {
  background-color: #252a41;
}
.dark-theme .box:hover {
  background-color: #333a56;
}
.dark-theme .box .followers .text-followers {
  color: #8b97c6;
}
.dark-theme .box .social-name,
.dark-theme .box .left-half .page-views {
  color: #8b97c6;
}
.dark-theme .box .number {
  color: white;
}

html {
  font-family: "Inter";
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  margin: 4rem 11rem;
  background: linear-gradient(0deg, white 68%, #F9FAFD 32%);
}

.up-box {
  display: flex;
}
.up-box .text-box {
  width: 50%;
  font-weight: 700;
}
.up-box .text-box .separate-line {
  display: none;
}
.up-box .text-box .main-text {
  font-size: 30px;
  margin: 0;
  margin-bottom: 0.5rem;
}
.up-box .text-box .sub-text {
  color: #63687e;
  margin: 0;
}

.attribution {
  display: none;
}

@media all and (max-width: 1230px) {
  body {
    margin: 4rem 5rem;
  }

  .large-box-contaianer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem;
    row-gap: 2.5rem;
  }

  .small-box-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 9rem 9rem 9rem;
  }

  .text {
    padding-right: 0.5rem;
  }
}
@media all and (max-width: 860px) {
  body {
    margin: 4rem 5rem;
  }

  .up-box .text-box .main-text {
    font-size: 25px;
  }

  .small-box-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 9rem);
  }
}
@media all and (max-width: 730px) {
  body {
    margin: 4rem 3rem;
  }

  .large-box-contaianer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 15rem);
    row-gap: 2.5rem;
  }

  .small-box-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 9rem);
  }

  .up-box {
    display: inline;
  }
  .up-box .text-box {
    width: 100%;
  }
  .up-box .text-box .main-text {
    font-size: 1.6rem;
  }
  .up-box .text-box .separate-line {
    width: 100%;
    display: block;
    border: 1px solid #63687e;
    margin: 2em 0 0 0;
  }

  .text {
    text-align: left;
  }

  .theme-button-box {
    width: 100%;
  }

  .large-box-contaianer {
    margin-top: 1.5rem;
  }
}