@use './variables' as *;
@use './toggleButton';
@use './large-box';
@use './small-box';
@use './dark-mode';

html{
    font-family: $font;
}

@mixin desktop-view() {
    
    body{
        margin: 4rem 11rem;
        background: linear-gradient(0deg, $white 68%, $light-grayish-blue-2 32%);
    }

    .up-box{
        display: flex;

        .text-box{
            width: 50%;
            font-weight: $bold;
            
            .separate-line{
                display: none;
            }

            .main-text{
                font-size: 30px;
                margin: 0;
                margin-bottom: 0.5rem;

            }

            .sub-text{
                color: $dark-grayish-blue;
                margin: 0;
            }
        }
    }



}