@use "./variables" as *;
@use "./box" as boxComponent;
@use "./follow-numbers" as follow;

.large-box-contaianer {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15rem;
    column-gap: 2.5rem;

    @include boxComponent.box();

    .large {
        height: 15em;
    }

    .color-bar {
        min-height: 4px;
        border-radius: 10px 10px 0 0;

        &#facebook {
            background: $facebook;
        }
        &#twitter {
            background: $twitter;
        }
        &#instagram {
            background: $instagram;
        }
        &#youtube {
            background: $youTube;
        }
    }

    .content-box {
        text-align: center;
        font-weight: $bold;
        display: flex;
        flex-direction: column;

        .social-logo{
            color: $dark-grayish-blue;
            margin-top: 1.8rem;
            margin-bottom: 1rem;

            .social-name{
                font-size: .89rem;
                margin-left: .3rem;
            }

            img, .social-name{
                vertical-align: middle;
            }
        }

        .followers{
            .number{
                font-size: 4rem;
                margin: 0;
                padding: 0;
            }

            .text-followers{
                font-weight: $regular;
                color: $dark-grayish-blue;
                letter-spacing: 0.3rem;
                font-size: 1.2rem;
                margin: 0;
            }
        }


        .today-follow{
            margin-top: 1.3rem;
            
            @include follow.followers();
        }
    }
}
