@use "./variables" as *;
@use "./box" as boxComponent;
@use "./follow-numbers" as follow;

.second-header{
    .text{
        font-size: 1.7rem;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $dark-grayish-blue;
        font-weight: $bold;
        margin-top: 2.8rem;
    }
}

.small-box-container{
    column-gap: 2.5rem;
    row-gap: 1.8rem;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 9rem 9rem;


    @include boxComponent.box();

    .small{
        display: flex;

        .left-half, .right-half{
            width: 50%;
            margin: auto;
        }
        
        .left-half{
            font-weight: $bold;
            font-size: 1rem;
            margin-left: 2rem;

            .page-views{
                color: $dark-grayish-blue;
                margin-bottom: 1.4rem;
                margin-top: 0;
            }

            .number{
                font-size: 2.3em;
                margin: 0;
            }
        }

        .right-half{
            margin-right: 2rem;
            text-align: right;

            .icon{
                 margin-bottom: 2.2rem;
            }

            .today-follow{
                padding: 0;
                margin-bottom: .5rem;
                
                @include follow.followers();
            }
        }
    }
}

