@use './desktop' as desktop;

html{
    box-sizing: border-box;
    font-size: 14px;
}

@include desktop.desktop-view();

.attribution{
    display: none;
}

@media all and (max-width: 1000px) {
    
}
