@use './desktop' as desktop;
@use "./variables" as *;

html{
    box-sizing: border-box;
    font-size: 14px;
    height: auto;
}

@include desktop.desktop-view();

.attribution{
    display: none;
}

@media all and (max-width: 1230px) {
    body{
        margin: 4rem 5rem;
    }

    .large-box-contaianer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15rem 15rem;
        row-gap: 2.5rem;
    }

    .small-box-container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 9rem 9rem 9rem;
    }

    .text{
        padding-right: .5rem;
    }
}


@media all and (max-width: 860px) {
    body{
        margin: 4rem 5rem;
    }

    .up-box .text-box .main-text{
        font-size: 25px;
    }


    .small-box-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 9rem);
    }
    
}


@media all and (max-width: 730px) {
    body{
        margin: 4rem 3rem;
    }

    .large-box-contaianer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 15rem);
        row-gap: 2.5rem;
    }

    .small-box-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 9rem);
    }

    .up-box {
        display: inline;
    .text-box{
        width: 100%;

        .main-text{
            font-size: 1.6rem;
        }

        .separate-line{
            width: 100%;
            display: block;
            border: 1px solid $dark-grayish-blue;
            margin: 2em 0 0 0;
        }
    }
}


.text{
    text-align: left;
}

    .theme-button-box{
        width: 100%;
    }

    .large-box-contaianer{
        margin-top: 1.5rem;
    }
}
